@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;600;700&display=swap");

// $backgroundColor: #1f3756 to #141539;
$backgroundColor: radial-gradient(
  circle,
  rgba(31, 55, 86, 1) 0%,
  rgba(20, 21, 57, 1) 80%
);
$scissorsMain: hsl(40, 84%, 53%);
$scissorsShadow: #d58610;
$paperMain: hsl(230, 89%, 65%);
$paperShadow: #324bc9;
$rockMain: hsl(349, 70%, 56%);
$rockShadow: #aa0725;
$shadow: #80808054;
$darkText: hsl(229, 25%, 31%);
$scoreText: hsl(229, 64%, 46%);
$headerOutline: hsl(217, 16%, 45%);

// Reset css
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

// General
body {
  background: $backgroundColor;
  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}
#root,
.main {
  width: 100vw;
  height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
}

// Modal
.main-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  transform: scale(0.75);
}
.modal {
  z-index: 100;
  background: white;
  margin: auto;
  border-radius: 7px;
  max-width: 320px;
  height: 342px;
  padding: 0.4rem;
  margin-top: 50vh;
  animation: 0.7s ease appears forwards;
  .modal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
    .rules {
      font-size: 1.6rem;
      font-weight: 600;
      text-transform: uppercase;
      color: $darkText;
    }
    .close-modal-btn {
      color: #c1c1c1;
      background: transparent;
      cursor: pointer;
      font-size: 1.8rem;
      font-weight: 700;
      width: 45px;
      height: 45px;
      padding-top: 2px;
      transition: 200ms all;
      span {
        vertical-align: middle;
      }
      &:hover {
        background: #f3f3f3;
        border-radius: 50%;
      }
    }
  }
}
@keyframes appears {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}

// Header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid $headerOutline;
  border-radius: 4px;
  height: 40px;
  width: 70%;
  max-width: 300px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 20px;
  padding: 17px 8px;
  img {
    transform: scale(0.45);
    margin-left: -37px;
  }
  .score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    color: $scoreText;
    padding: 3px 20px;
    border-radius: 3px;
    cursor: default;
    span:nth-of-type(1) {
      text-transform: uppercase;
      font-size: 0.5rem;
      font-weight: 600;
      letter-spacing: 1px;
      margin-top: 6px;
    }
    span:nth-of-type(2) {
      font-size: 2.3rem;
      font-weight: 700;
      color: $darkText;
      margin-top: -6px;
    }
  }
}

// Main
.center {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
}
.main-game {
  position: relative;
  width: 300px;
  height: 200px;
  margin: auto;
  background: center no-repeat url(../images/bg-triangle.svg);
  background-size: auto 200px;
  background-position: bottom -24px right 39px;
}
.main-symbol {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 10px solid;
  border-radius: 50%;
  width: 83px;
  height: 83px;
  cursor: pointer;
  opacity: 0.9;
  transition: 190ms all;
  img {
    transform: scale(0.75);
  }
  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
  &:active {
    transform: translateY(2px);
  }
}
.main-paper {
  border-color: $paperMain;
  box-shadow: 0px 5px 0px 0px $paperShadow, inset 0px 5px 0px 0px $shadow;
  top: -15px;
  left: 17px;
}
.main-scissors {
  border-color: $scissorsMain;
  box-shadow: 0px 5px 0px 0px $scissorsShadow, inset 0px 5px 0px 0px $shadow;
  top: -15px;
  right: 17px;
}
.main-rock {
  border-color: $rockMain;
  box-shadow: 0px 5px 0px 0px $rockShadow, inset 0px 5px 0px 0px $shadow;
  bottom: -15px;
  right: 100px;
}

.rules-btn {
  display: inline-block;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 50px;
  border: 1px solid white;
  border-radius: 5px;
  button {
    background: transparent;
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 8px 30px;
    cursor: pointer;
  }
}

// Footer
.attribution {
  opacity: 0.3;
  font-size: 0.65rem;
  font-weight: 200;
  display: block;
  margin: auto;
  margin-bottom: 6px;
  a {
    color: white;
    &:hover {
      opacity: 0.8;
    }
  }
}

// PLAY ${COMPONENTS}
.play-composant {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 66px;
  .picked {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 170px;
    width: 40%;
    text-shadow: 1px 1px 4px black;
    transition: all 200ms ease-out;
  }
  .house-picked {
    display: inline-block;
    margin-left: 41px;
  }
  .play-symbol {
    position: absolute;
    top: 38px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 10px solid;
    border-radius: 50%;
    width: 83px;
    height: 83px;
    transition: all 200ms ease-out;
    .circle-win {
      top: -24px;
      left: -25px;
    }
  }
  .circle-win {
    position: absolute;
    top: -13px;
    left: -15px;
    z-index: -1;
    width: 133px;
    height: 133px;
    border-radius: 50%;
    background-color: #2c395791;
    opacity: 0;
    animation: 0.15s slowAppers ease-in-out forwards;
    &::before {
      content: "";
      z-index: -2;
      position: absolute;
      top: -21px;
      left: -22px;
      width: 176px;
      height: 176px;
      border-radius: 50%;
      background-color: #2636535d;
      opacity: 0;
      animation: 0.15s slowAppers ease-in-out forwards;
      animation-delay: 120ms;
    }
    &::after {
      content: "";
      z-index: -3;
      position: absolute;
      top: -45px;
      left: -49px;
      width: 230px;
      height: 230px;
      border-radius: 50%;
      background-color: #24355142;
      opacity: 0;
      animation: 0.15s slowAppers ease-in-out forwards;
      animation-delay: 240ms;
    }
  }
  @keyframes slowAppers {
    0% {
      opacity: 0.5;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  .play-icon {
    transform: scale(0.75);
  }
  .play-paper {
    border-color: $paperMain;
    box-shadow: 0px 5px 0px 0px $paperShadow, inset 0px 5px 0px 0px $shadow;
  }
  .play-scissors {
    border-color: $scissorsMain;
    box-shadow: 0px 5px 0px 0px $scissorsShadow, inset 0px 5px 0px 0px $shadow;
  }
  .play-rock {
    border-color: $rockMain;
    box-shadow: 0px 5px 0px 0px $rockShadow, inset 0px 5px 0px 0px $shadow;
  }
}

.circle-wait {
  position: absolute;
  top: 38px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: 1s wait ease-in-out;
  .dark-circle {
    width: 83px;
    height: 83px;
    background: #1d243a;
    border-radius: 50%;
  }
  .rockComputer,
  .scissorsComputer,
  .paperComputer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 10px solid;
    border-radius: 50%;
    width: 83px;
    height: 83px;
    img {
      transform: scale(0.75);
    }
  }
  .paperComputer {
    border-color: $paperMain;
    box-shadow: 0px 5px 0px 0px $paperShadow, inset 0px 5px 0px 0px $shadow;
  }
  .scissorsComputer {
    border-color: $scissorsMain;
    box-shadow: 0px 5px 0px 0px $scissorsShadow, inset 0px 5px 0px 0px $shadow;
  }
  .rockComputer {
    border-color: $rockMain;
    box-shadow: 0px 5px 0px 0px $rockShadow, inset 0px 5px 0px 0px $shadow;
  }
}
@keyframes wait {
  0% {
    opacity: 0.5;
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(0.9);
  }
}
.replay {
  position: absolute;
  top: 194px;
  left: -112px;
  display: flex;
  flex-direction: column;
  p {
    text-transform: uppercase;
    font-size: 2.7rem;
    font-weight: 700;
    text-shadow: -1px 3px 7px #000000a1;
  }
  button {
    padding: 10px 40px;
    border-radius: 6px;
    margin-top: 10px;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 190ms all;
    &:hover {
      color: $rockShadow;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////// RESPONSIVE DESKTOP /////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 768px) {
  // Desktop Modal
  .modal-wrapper {
    transform: scale(1);
  }
  .modal {
    padding: 1.4rem;
  }

  // Desktop Header
  .header {
    height: 80px;
    width: 500px;
    max-width: 500px;
    padding: 22px;
    border-radius: 14px;
    img {
      transform: scale(0.8);
      margin-left: -14px;
    }
    .score {
      padding: 12px 35px;
      border-radius: 6px;
      span:nth-of-type(1) {
        font-size: 0.7rem;
        letter-spacing: 2px;
      }
      span:nth-of-type(2) {
        font-size: 3rem;
      }
    }
  }

  // Desktop Main
  .center {
    margin-top: 10px;
  }
  .main-game {
    width: 500px;
    height: 400px;
    background-size: 50%;
    background-size: auto;
    background-position: center;
  }
  .main-symbol {
    border: 15px solid;
    width: 120px;
    height: 120px;
    img {
      transform: scale(1);
    }
  }
  .main-paper {
    border-color: $paperMain;
    top: 30px;
    left: 70px;
  }
  .main-scissors {
    border-color: $scissorsMain;
    top: 30px;
    right: 70px;
  }
  .main-rock {
    border-color: $rockMain;
    bottom: 40px;
    right: 176px;
  }
  .rules-btn {
    position: absolute;
    bottom: 25px;
    right: 25px;
  }

  // Desktop Footer
  .attribution {
    opacity: 0.3;
    font-size: 0.65rem;
    font-weight: 200;
    position: absolute;
    bottom: 5px;
    left: 8px;
    margin-bottom: 0;
    a {
      color: white;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  // Desktop PLAY ${COMPONENTS}
  .play-composant {
    width: 800px;
    height: 400px;
    .picked {
      font-size: 1.2rem;
      letter-spacing: 2px;
      margin-top: 26px;
      width: 34%;
    }
    .house-picked {
      margin-left: 70px;
    }
    .move-picked {
      margin-left: 250px;
    }
    .play-symbol {
      top: 90px;
      left: 100px;
      border: 30px solid;
      width: 190px;
      height: 190px;
      .circle-win {
        top: initial;
        left: initial;
      }
    }
    .circle-win {
      top: initial;
      left: initial;
      width: 330px;
      height: 330px;
      &::before {
        top: -44px;
        left: -46px;
        width: 420px;
        height: 420px;
      }
      &::after {
        top: -98px;
        left: -99px;
        width: 530px;
        height: 530px;
      }
    }
    .play-icon {
      transform: scale(1.7);
    }
    .play-paper {
      border-color: $paperMain;
      box-shadow: 0px 9px 0px 0px $paperShadow, inset 0px 8px 0px 0px $shadow;
    }
    .play-scissors {
      border-color: $scissorsMain;
      box-shadow: 0px 9px 0px 0px $scissorsShadow, inset 0px 8px 0px 0px $shadow;
    }
    .play-rock {
      border-color: $rockMain;
      box-shadow: 0px 9px 0px 0px $rockShadow, inset 0px 8px 0px 0px $shadow;
    }
    .moveLeft {
      left: 10px;
    }
    .moveRight {
      right: 10px;
    }
  }
  .circle-wait {
    top: 90px;
    right: 100px;
    width: 260px;
    height: 260px;
    .dark-circle {
      height: 190px;
      width: 190px;
    }
    .rockComputer,
    .scissorsComputer,
    .paperComputer {
      border: 30px solid;
      width: 190px;
      height: 190px;
      img {
        transform: scale(1.7);
      }
    }
    .paperComputer {
      border-color: $paperMain;
      box-shadow: 0px 9px 0px 0px $paperShadow, inset 0px 8px 0px 0px $shadow;
    }
    .scissorsComputer {
      border-color: $scissorsMain;
      box-shadow: 0px 9px 0px 0px $scissorsShadow, inset 0px 8px 0px 0px $shadow;
    }
    .rockComputer {
      border-color: $rockMain;
      box-shadow: 0px 9px 0px 0px $rockShadow, inset 0px 8px 0px 0px $shadow;
    }
  }
  .replay {
    top: 70px;
    left: -222px;
    button {
      padding: 10px 50px;
    }
  }
}

// Large Desktop
@media screen and (min-width: 1300px) {
  .header {
    height: 110px;
    width: 640px;
    max-width: 640px;
    img {
      transform: scale(1);
      margin-left: 7px;
    }
    .score {
      padding: 8px 49px;
      border-radius: 10px;
      span:nth-of-type(1) {
        font-size: 1.2rem;
      }
      span:nth-of-type(2) {
        font-size: 4.3rem;
      }
    }
  }
  .center {
    margin-top: 70px;
  }
  .main-game {
    .main-symbol {
      border: 25px solid;
      width: 170px;
      height: 170px;
      img {
        transform: scale(1.4);
      }
    }
    .main-paper {
      border-color: #5671f5;
      top: -40px;
      left: -2px;
    }
    .main-scissors {
      border-color: #eca922;
      top: -40px;
      right: -2px;
    }
    .main-rock {
      border-color: #dd405d;
      bottom: -21px;
      right: 147px;
    }
  }
  .rules-btn {
    bottom: -15px;
    right: 30px;
    border-radius: 10px;
    button {
      font-size: 1.1rem;
      padding: 11px 39px;
    }
  }

  .play-composant {
    width: 950px;
    height: 600px;
    margin-top: 40px;
    .house-picked {
      margin-left: 98px;
    }
    .picked {
      font-size: 1.5rem;
      letter-spacing: 3px;
    }
    .move-picked {
      margin-left: 304px;
    }
    .play-symbol {
      top: 110px;
      left: 95px;
      border: 34px solid;
      width: 230px;
      height: 230px;
    }
    .play-icon {
      transform: scale(2);
    }
    .play-paper {
      border-color: #5671f5;
    }
    .play-scissors {
      border-color: #eca922;
    }
    .play-rock {
      border-color: #dd405d;
    }
    .circle-wait {
      top: 110px;
      right: 95px;
      width: 320px;
      height: 320px;
      img {
        transform: scale(2);
      }
      .paperComputer {
        border-color: #5671f5;
      }
      .scissorsComputer {
        border-color: #eca922;
      }
      .rockComputer {
        border-color: #dd405d;
      }
    }
    .dark-circle {
      width: 230px;
      height: 230px;
    }
    .moveLeft {
      left: 10px;
    }
    .moveRight {
      right: 10px;
    }
    .replay {
      left: -252px;
      p {
        font-size: 3.3rem;
        letter-spacing: 1px;
      }
      button {
        margin-top: 17px;
        padding: 15px 50px;
        font-size: 1rem;
        border-radius: 8px;
      }
    }
  }
}
